.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 70%;
  padding: 20px;
  overflow: hidden;
  border-radius: 15px;
}
.container {
  background-color: rgb(92, 92, 92);
  display: flex;
  flex-direction: column;
}

/* Input textarea styles */
.input-container  {
  width: 100%;
  height: 30%;
  box-sizing: border-box; /*Ensures padding doesn't increase the width */
  margin-bottom: 10px; 
  resize: none; /* Prevents the user from breaking your layout */
  font-size: 2rem;
  padding: 5px;
}
input {
  width: 90%;
  height: 65%;
  padding: 1.5em;
  border: none;
  border-radius: 15px 15px 0px 0px;
  font-size: 0.5em;
}



/* button input styles */
button {
  padding: 2em;
  width: 25%;
  height: 25%;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: hsl(0, 0%, 82%);
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: hsl(0, 0%, 73%);;
}
button:active {
  background-color: hsl(0, 0%, 82%);;
}

.row1-container {
  display: flex;
  gap: 5px;
  margin: 5px;
  
}
.row2-container {
  display: flex;
  gap: 5px;
  margin: 5px;
}
.row3-container {
  display: flex;
  gap: 5px;
  margin: 5px;
}
.row4-container {
  display: flex;
  gap: 5px;
  margin: 5px;
}
.row5-container {
  display: flex;
  gap: 5px;
  margin: 5px;
}

.keypad-operator {
  background-color: hsl(40, 100%, 70%);
}
.keypad-operator:hover {
  background-color: hsl(40, 100%, 60%);
}
.keypad-operator:active {
  background-color: hsl(40, 100%, 70%);
}

#solve-problem {
  background-color: hsl(40, 100%, 60%);
}
#solve-problem:hover {
  background-color: hsl(40, 100%, 50%);
}
#solve-problem:active {
  background-color: hsl(40, 100%, 60%);
}

* {
  font-family: "Orbitron", sans-serif;;
  font-weight: 500;
}
