.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 20px;
  border-radius: 15px;
  user-select: none;
}
.container {
  background-color: rgb(55, 55, 55);
}

.handle {
  background-color:  rgb(55, 55, 55);
  color: white;
  text-align: center;
  cursor: move; 
  font-size: 1.5rem;
  height: 2.5rem;
  user-select: none;
}

/* Input textarea styles */
.input-container  {
  width: 100%;
  box-sizing: border-box; 
  margin-bottom: 10px; 
  resize: none;
  font-size: 2rem;
  padding: 5px;
}
input {
  width: 90%;
  border: none;
  border-radius: 15px;
  font-size: 2.2rem;
  padding: 0.75em;
  text-align: right;
}



/* button input styles */
button {
  width: 25%;
  height: 25%;
  font-size: 2rem;
  padding: 1.2em;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: hsl(0, 0%, 82%);
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
}

button:hover {
  background-color: hsl(0, 0%, 73%);;
}
button:active {
  background-color: hsl(0, 0%, 82%);;
}

.row1-container {
  display: flex;
  gap: 5px;
  margin: 5px;
  
}
.row2-container {
  display: flex;
  gap: 5px;
  margin: 5px;
}
.row3-container {
  display: flex;
  gap: 5px;
  margin: 5px;
}
.row4-container {
  display: flex;
  gap: 5px;
  margin: 5px;
}
.row5-container {
  display: flex;
  gap: 5px;
  margin: 5px;
}

.keypad-operator {
  background-color: hsl(40, 100%, 70%);
}
.keypad-operator:hover {
  background-color: hsl(40, 100%, 60%);
}
.keypad-operator:active {
  background-color: hsl(40, 100%, 70%);
}

#solve-problem {
  background-color: hsl(40, 100%, 60%);
}
#solve-problem:hover {
  background-color: hsl(40, 100%, 50%);
}
#solve-problem:active {
  background-color: hsl(40, 100%, 60%);
}


/* .keypad-operator {
  background-color: hsl(143, 100%, 70%);
}
.keypad-operator:hover {
  background-color: hsl(143, 100%, 60%);
}
.keypad-operator:active {
  background-color: hsl(143, 100%, 70%);
}

#solve-problem {
  background-color: hsl(143, 100%, 60%);
}
#solve-problem:hover {
  background-color: hsl(143, 100%, 50%);
}
#solve-problem:active {
  background-color: hsl(143, 100%, 60%);
} */


* {
  font-family: "Orbitron", sans-serif;
}
